<app-header></app-header>

<div class="container mt-5 mb-5">
    <div class="row" *ngIf="allProducts && allProducts.length > 0">
        <div class="col-sm-3" *ngFor="let item of allProducts">
            <div class="d-flex justify-content-center container mt-5 text-center">
                <div class="card p-3 bg-white">
                    <div class="about-product text-center mt-2"><img src="{{host}}{{item.image}}" width="100">
                        <div>
                            <h4>{{ item.productName }}</h4>
                            <h5 class="mt-0 text-black-50">{{ item.shortDescription }}</h5>
                            <h6 class="mt-0 text-black-50">{{ item.description.slice(0,50) }} <span *ngIf="item.description.length > 50">...</span> </h6>
                        </div>
                    </div>
                    <div class="stats mt-2">
                        <div class="d-flex justify-content-between p-price"><span>MRP</span><span>₹ {{ item.origionalPrice }}</span></div>
                        <div class="d-flex justify-content-between p-price"><span>Offer Price</span><span>$ {{ item.netSellingPrice }}</span></div>
                    </div>
                    <div class="d-flex justify-content-between total font-weight-bold mt-4">
                        <button class="btn" (click)="addToChecklist(item)"> <i style="font-size: 24px" class="fa fa-heart color-red"></i> </button>
                        <button class="btn" (click)="addToBucket(item)"> <i style="font-size: 24px" class="fa fa-shopping-cart color-green" ></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" *ngIf="allProducts && allProducts.length == 0">
        <h4>No Products Listed</h4>
    </div>
</div>